
.highlight-m {
  font-size: 48px; /* adjust as needed */
  font-weight: bold;
  background: linear-gradient(90deg, #FFD700, #2a7f62);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  padding-top: 30px;
}
